# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Environment
.env
venv/
env/
ENV/
*.env
